.experience__container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);

}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    font-size: 1.5rem;
    color: var(--color-primary);
}

small {
    font-size: 0.9rem;
    color: var(--color-light);
    animation: colorChange 10s infinite alternate;
}

@keyframes colorChange {
    0%, 100% {
        color: var(--color-light);
    }
    
    12.5% {
        color: #FF5733; /* Random color 1 */
    }

    25% {
        color: #37E43B; /* Random color 2 */
    }

    37.5% {
        color: #3A6DE3; /* Random color 3 */
    }

    50% {
        color: #FFD700; /* Random color 4 */
    }

    62.5% {
        color: #FF8C00; /* Random color 5 */
    }

    75% {
        color: #00CED1; /* Random color 6 */
    }

    87.5% {
        color: #9932CC; /* Random color 7 */
    }
}

a {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.2rem; 
    text-decoration: none;
    transition: color var(--transition);
    margin-top: 1rem;
}

/* ############### MEDIA QUERIES (MEDIUM DEVICES) ################ */
@media screen and (max-width: 1024px) {
    .experience__container{
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
 
 }
 
 /* ############### MEDIA QUERIES (SMALL DEVICES) ################ */
 @media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
    
 }
